<div class='general' ng-controller='generalController'>
	<div class="mainInfo">
		<div class='houseHealth'>Your home is doing {{houseHealth}} now!</div>
		<div class='houseIndicator round' ng-class="{active: $root.actualGraph === $root.globalIndicator.name}" ng-mouseenter='displayDate($root.globalIndicator)' ng-mouseleave='hideDate($root.globalIndicator)' ng-click='changeGraph($root.globalIndicator)'>
			<div ng-show='!$root.globalIndicator.showDate' class='value'>{{$root.globalIndicator.data}}%</div>
			<div ng-show='$root.globalIndicator.showDate' class='date'>
				Updated {{$root.globalIndicator.lastUpdate}}
			</div>
		</div>
		<div class='data'>
			<div class='sensors-or-indicators' ng-repeat="obj in data | filter : {type : mode} : true">
				<div class='round' ng-class="[obj.status, {active: $root.actualGraph === obj.name && mode === obj.type}]" ng-mouseenter='displayDate()' ng-mouseleave='hideDate()' ng-click='changeGraph()'>
					<div ng-show='!showDate' class='value'>
						<div class='disconnected-message' ng-if='obj.status === "disconnected"'>
							<span class='status'>Disconnected</span>
							<div class='last-value'>Last value : </div>
						</div>
						{{obj.data}}<span ng-if='mode === "indicator"'>%</span>
					</div>
					<div ng-show='showDate' class='date'>
						Updated {{obj.lastUpdate}}
					</div>
				</div>
				<div class='name'>{{obj.name}}</div>
			</div>
		</div>
		<div class='modes'>
			<div class='switchMode'>
				<div class='title'>Mode</div>
				<switch ng-model="$root.indicatorMode" ng-change="changeMode(); changeGraph()"></switch>
				<div class='mode'>{{mode}}</div>
			</div>
			<div class='aggregationSelectorButtonList'>
				<button ng-repeat='selector in $root.selectors' ng-class="{active: $root.actualSelector.name == selector.name}" class="aggregationSelector" ng-click="getData(selector)">{{selector.name}}</button>
			</div>
		</div>
	</div>
	<svg id="homeChart"></svg>
</div>
