<div class='general' ng-controller='generalController'>
	<div class="mainInfo">
		<div class='houseHealth'>Your home is doing {{houseHealth}} now!</div>
		<div class='houseIndicator round' ng-class="{active: actualGraph === 'global'}" ng-mouseenter='displayDate($root.globalIndicator)' ng-mouseleave='hideDate($root.globalIndicator)' ng-click='drawChart($root.globalIndicator)'>
			<div ng-show='!$root.globalIndicator.showDate' class='value'>{{$root.globalIndicator.data}}%</div>
			<div ng-show='$root.globalIndicator.showDate' class='date'>
				Updated {{$root.globalIndicator.lastUpdate}}
			</div>
		</div>
		<div class='switchMode'>
			Indicators
			<switch ng-model="sensorMode" ng-change="changeMode"></switch>
			Sensors
		</div>
		<div class='sensors'>
			<div class='sensor' ng-repeat="sensor in sensors">
				<div class='round' ng-class="{active: actualGraph === sensor.name && mode === sensor.type}" ng-mouseenter='displayDate()' ng-mouseleave='hideDate()' ng-click='drawChart()'>
					<div ng-show='!showDate' class='value'>{{sensor.data}}</div>
					<div ng-show='showDate' class='date'>
						Updated {{sensor.lastUpdate}}
					</div>
				</div>
				<div class='name'>{{sensor.name}}</div>
			</div>
		</div>
		<div class='aggregationSelectorButtonList'>
			<button ng-repeat='selector in selectors' ng-class="{active: actualSelector == selector.name}" class="aggregationSelector" ng-click="getData(selector)">{{selector.name}}</button>
		</div>
	</div>
	<svg id="homeChart"></svg>
</div>
