<div class='home' ng-class='[$root.houseHealth, {"loaded" : !$root.loading }]'>
	<div class="mainMenu">
		<div class='userInfo'>
			<img class='picture' ng-src="{{userInfo.pictureUrl}}"></img>
			<div class='name'>Hi {{userInfo.givenName}}!</div>
		</div>
		<div class='tabs'>
			<button ng-repeat='tab in tabs' ng-class="{active: actualTab == tab}" ng-click="changeTab(tab)"	class="mainMenuButton">
				{{tab}}
			</button>
		</div>
		<button class="signOut" ng-click="signOut()">
			Sign out
		</button>
	</div>
	<div class="body">
		<ng-include src="'static/templates/'+actualTab+'.html'"></ng-include>
	</div>
</div>
