<div class='settings' ng-controller='settingsController'>
	<div class='row' ng-repeat='setting in settings'>
		<div class='text'>{{setting.name}}</div>
		<div class='value'>
			<switch ng-model="setting.defaultValue" ng-if='setting.dataType === "boolean"'></switch>
			<select ng-options="setting.defaultValue" ng-if='setting.dataType === "varchar"'></select>
		</div>
	</div>
	<!--
	<div class='row'>
		<div class='tabs'>
			<button ng-repeat='selector in $root.selectors' ng-class="{active: $root.actualSelector.name == selector.name}"	class="mainMenuButton">
				{{selector.name}}
			</button>
		</div>
	</div>
	<div class='row'>
		<div class='text'>Enable helpers : </div>
		<switch ng-model="helpers"></switch>
	</div>
	<div class='settings' ng-controller='userSettingsController'>
	</div>
-->
</div>
