// main: style.scss

&>.general {
	display : flex;
	flex-direction: column;

	& >.mainInfo {
		position       : relative;
		display        : flex;
		flex-direction : column;
		width          : 100%;
		height         : 57%;

		&>.houseHealth {
			margin    : 0 auto 20px auto;
			font-size : 22px;
			color     : $grey;
		}

		.round {
			width            : 95px;
			height           : 95px;
			padding          : 5px;
			border           : 2px white solid;
			border-radius    : 50%;
			display          : flex;
			cursor           : pointer;

			&:hover {
				background-color : rgba(255, 255, 255, 0.1);
			}

			&.disconnected {
				background-color: rgba(33, 33, 33, 0.3);
				&>.value {
					font-size  : 70%;
				}
			}

			&.active {
				background-color : rgba(255, 255, 255, 0.4);
			}

			&.houseIndicator {
				margin       : 0 auto 20px auto;
				width        : 200px;
				height       : 200px;
				font-size    : 40px;
				color        : $grey;
			}
			&>.date {
				margin     : auto;
				overflow   : hidden;
				text-align : center;
				font-size  : 70%;
			}
			&>.value {
				margin     : auto;
				overflow   : hidden;
				text-align : center;
				&>.disconnected-message {
					&>.status {
						font-weight: bold;
						color: #c62121;
					}
					&>.last-value {
						text-decoration: underline;
					}
				}
			}
		}


		&>.data {
			display: flex;
			margin: 0 20% auto 20%;

			&>.sensors-or-indicators {
				position       : relative;
				flex           : 1;
				display        : flex;
				flex-direction : column;
				align-items    : center;
				color          : white;

				&>.name {
					&:first-letter {
						text-transform: uppercase;
					}
				}
			}
		}

		& > .aggregationSelectorButtonList {
			position       : absolute;
			bottom         : 0;
			right          : 0;
			display        : flex;
			flex-direction : column;
			align-items    : flex-end;
			& > .aggregationSelector {
				cursor                    : pointer;
				color                     : white;
				display                   : block;
				background-color          : rgba(255, 255, 255, 0);
				border-left               : 1px solid rgba(255, 255, 255, 1);
				border-top                : 1px solid rgba(255, 255, 255, 1);
				border-bottom             : 1px solid rgba(255, 255, 255, 1);
				border-right              : none;
				padding                   : 10px 25px;
				border-top-left-radius    : 25px;
				border-bottom-left-radius : 25px;
				transition                : background-color .2s ease-out;
				border-collapse           : collapse;

				&:focus {
					outline: none;
				}
				&:hover {
					background-color: rgba(255, 255, 255, 0.3);
				}
				&.active {
					background-color: rgba(255, 255, 255, 0.3);

				}
			}
		}
	}
	&>.graphParameters {
		margin: 10px;
	}

	& > svg#homeChart {
		width       : 100%;
		flex        : 1;
		padding-top : 20px;
		@import 'chart';

	}
}
