// main: style.scss

&>.general {
	display : flex;
	flex-direction: column;

	& >.mainInfo {
		position       : relative;
		display        : flex;
		flex-direction : column;

		&>.houseHealth {
			margin    : 0 auto 20px auto;
			font-size : 22px;
			color     : $grey;
		}

		.round {
			width            : 95px;
			height           : 95px;
			padding          : 5px;
			border           : 2px white solid;
			border-radius    : 50%;
			display          : flex;
			cursor           : pointer;

			&:hover {
				background-color : rgba(255, 255, 255, 0.1);
			}

			&.active {
				background-color : rgba(255, 255, 255, 0.4);
			}

			&.houseIndicator {
				margin       : 0 auto 20px auto;
				width        : 200px;
				height       : 200px;
				font-size    : 40px;
				color        : $grey;
			}
			&>.date {
				margin     : auto;
				overflow   : hidden;
				text-align : center;
				font-size  : 70%;
			}
			&>.value {
				margin     : auto;
				overflow   : hidden;
				text-align : center;
			}
		}

		&>.data {
			display: flex;
			margin: 0 20% auto 20%;

			&>.sensors-or-indicators {
				position       : relative;
				flex           : 1;
				display        : flex;
				flex-direction : column;
				align-items    : center;
				color          : white;
				&>.disconnected {
					font-size: 70%;
					font-weight: bold;
					color: #c62121;
				}
				&>.name {
					&:first-letter {
						text-transform: uppercase;
					}
				}
			}
		}

		& > .aggregationSelectorButtonList {
			position       : absolute;
			bottom         : 0;
			right          : 0;
			display        : flex;
			flex-direction : column;
			align-items    : flex-end;
		}
	}
	&>.graphParameters {
		margin: 10px;
	}

	& > svg#homeChart {
		width       : 100%;
		flex        : 1;
		padding-top : 20px;
		@import 'chart';

	}
}
