// main: style.scss

flash-message {
	position: absolute;
	right: 10px;
	top: $mainMenuHeightMargin*2 + $mainMenuHeight;
	z-index: 2;
}


button.switchButton {
	text-transform   : uppercase;
	position: relative;
	outline          : none;
	cursor           : pointer;
	color            : $button-color;
	transition       : background-color .2s ease-out;
	box-sizing       : border-box;
	margin-left      : 1px;
	background-color : rgba(255, 255, 255, 0.3);
	border           : $button-border-width solid rgba(255, 255, 255, 0);

	&.medium {
		width            : $medium-button-width;
		height           : $medium-button-height;
	}

	&.small {
		width            : $small-button-width;
		height           : $small-button-height;
	}

	&:first-child{
		border-right-style        : none;
		border-top-left-radius    : 25px;
		border-bottom-left-radius : 25px;
		margin-left               : 0px;
	}

	&:last-child {
		border-left-style          : none;
		border-top-right-radius    : 25px;
		border-bottom-right-radius : 25px;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.45);
	}
	&.active {
		background-color: rgba(255, 255, 255, 0.45);
	}
}
