// main: style.scss
.switch {
	border: 1px solid rgba(255, 255, 255, 0.41) !important;
}

flash-message {
	position: absolute;
	right: 10px;
	top: $mainMenuHeightMargin*2 + $mainMenuHeight;

	.alert.ng-leave {
		opacity: 1;
		transition: opacity 1.5s ease-out;
	}

	.alert.ng-leave-active {
		opacity: 0;
	}
}

.tabs {
	margin : auto;

	button.mainMenuButton {
		text-transform   : uppercase;
		position: relative;
		outline          : none;
		cursor           : pointer;
		color            : $button-color;
		transition       : background-color .2s ease-out;
		box-sizing       : border-box;
		margin-left      : 1px;
		width            : $button-width;
		height           : $button-height;
		background-color : rgba(255, 255, 255, 0.3);
		border           : $button-border-width solid rgba(255, 255, 255, 0);

		&>.notifications {
			position         : absolute;
			top              : -7px;
			right            : 1px;
			font-weight      : bold;
			font-size        : 11px;
			padding          : 2px;
			background-color : #e1141e;
			border-radius    : 25%;
		}

		&:first-child{
			border-right-style        : none;
			border-top-left-radius    : 25px;
			border-bottom-left-radius : 25px;
			margin-left               : 0px;
		}

		&:last-child {
			border-left-style          : none;
			border-top-right-radius    : 25px;
			border-bottom-right-radius : 25px;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.6);
		}
		&.active {
			background-color: rgba(255, 255, 255, 0.6);
		}
	}
}
