// main: style.scss

.settings {
	color          : $grey;
	display        : flex;
	flex-direction : column;

	&>.type {
		&:first-child {
			margin-top: auto;
		}
		&:last-child {
			margin-bottom: auto;
		}
		&>.container {
			&>.button {
				width          : 20%;
				text-transform : uppercase;
				margin-left    : auto;
				margin-right   : auto;
			}
			&>.data {
				&>.users {
					img {
						margin-left: 10px;
						cursor: pointer;
					}
					&>.row {
						&>.text {
							&:first-letter {
								text-transform : none;
							}
						}
						&>.value {
							&>img {
								width: 13px;
							}
						}
					}
					&>.addUser{
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 10px;
						&>.header {
							margin-bottom: 5px;
						}
						&>.content {
							display     : flex;
							width       : 30%;
							align-items : center;
							&>img {
								width:20px;
							}
							&>input {
								margin-right: 10px;
							}
						}
					}
				}
				.row {
					margin      : 5px 5% 5px 10%;
					padding     : 3px 0 2px 0;
					display     : flex;
					align-items : center;
					&>.text {
						width          : 60%;
						font-size      : 15px;
						&:first-letter {
							text-transform : capitalize;
						}
					}
					&>.value {
						width        : 20%;
						margin-left  : auto;
						margin-right : auto;
						display      : flex;
						align-items  : center;
						&>.switchButton {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
