@import 'variables';

body {
	font-family      : $font-family;
	background-color : $background-color;
	margin           : 0;

	&>.view {
		height : 100%;
		width  : 100%;
		@import 'login';
		@import 'home';
	}
}

@font-face {
	font-family: $font-family;
	src: url(../font/century-gothic/CenturyGothic.ttf);
}
