@import 'variables';
@import 'global';
html {
	height: 100%;
}
body {
	font-family      : $font-family;
	background-color : $background-color;
	margin           : 0;
	height           : 100%;

	.switch {
		margin : 0;
	}

	&>.view {
		height : 100%;
		width  : 100%;
		display: flex;
		@import 'login';
		@import 'home';
	}

	@import 'loader';
}

@font-face {
	font-family: $font-family;
	src: url(../font/century-gothic/CenturyGothic.ttf);
}
