@import 'variables';
html {
	height: 100%;
}
body {
	font-family      : $font-family;
	background-color : $background-color;
	margin           : 0;
	height           : 100%;

	&>.view {
		height : 100%;
		width  : 100%;
		display: flex;
		@import 'login';
		@import 'home';
	}
}

.loader {
	$loaderSize   : 40px;
	$loaderBorder : 5px;
	z-index       : 1;
	position      : absolute;
	top           : calc(50% - ((#{$loaderSize} / 2) + #{$loaderBorder}));
	left          : calc(50% - ((#{$loaderSize} / 2) + #{$loaderBorder}));
	border        : $loaderBorder solid #524b4b;
	border-top    : $loaderBorder solid #c6cfc4;
	border-radius : 50%;
	width         : $loaderSize;
	height        : $loaderSize;
	animation     : spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@font-face {
	font-family: $font-family;
	src: url(../font/century-gothic/CenturyGothic.ttf);
}
