body {
	background-image: linear-gradient(-180deg, #00CD98 0%, #42C8CB 100%);
	font-family: CenturyGothic;
}

@font-face {
	font-family: CenturyGothic;
	src: url(../font/century-gothic/CenturyGothic.ttf);
}

