// main: style.scss
$background-color : #f9f9f9;
$green            : #00796b;
$green-shadow     : rgba(0, 121, 107, 0.3);
$font-family      : CenturyGothic;

//Buttons
$button-border-width : 1px;
$button-width : 120px;
$button-height : 35px;
$button-color : white;