<!DOCTYPE html>
<html>
	<head>
		<title>NSOC PROJECT</title>
		<!-- JS -->
		<!-- libs -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
		<script src="https://apis.google.com/js/platform.js"></script>
		<script src="static/lib/underscore.min.js"></script>
		<script src="static/lib/angular.min.js"></script>
		<script src='static/lib/angular-underscore-module.js'></script>
		<script src="static/lib/angular-cookies.min.js"></script>
		<script src="static/lib/angular-route.min.js"></script>
		<script src="static/lib/d3/d3.min.js"></script>
		<!-- route -->
		<script src="static/js/routeProvider.js"></script>
		<!-- services -->
		<script src="static/js/services/webSocketService.js"></script>
		<script src="static/js/services/d3ChartService.js"></script>
		<script src="static/js/services/getDataService.js"></script>
		<!-- controllers -->
		<script src="static/js/controllers/main.js"></script>
		<script src="static/js/controllers/general.js"></script>
		<script src="static/js/controllers/login.js"></script>
		<script src="static/js/controllers/home.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" href="static/css/style.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body ng-app="nsoc" ng-controller="mainController">
		<!-- <div ng-if="$root.loading" class="loader">
			<p class="texte">Loading</p>
			<div class="rotate" id="rotate_1"></div>
			<div class="rotate" id="rotate_2"></div>
			<div class="rotate" id="rotate_3"></div>
			<div class="rotate" id="rotate_4"></div>
			<div class="rotate" id="rotate_5"></div>
			<div class="rotate" id="rotate_6"></div>
		</div> -->
		<!-- <div ng-if="$root.loading" class="loader"></div> -->
		<div class="view" ng-view></div>
	</body>
</html>
